body {
    cursor: url("cur557.cur"), default;
  background-color: grey;
}

a {
    cursor: url("cur557.cur"), default;
}

p { color: lightblue;
  font-family: 'Rubik Mono One', sans-serif;
  font-size: 40px;
  text-align: center;
  margin-top: auto;
    cursor: url("cur557.cur"), default;

}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: grey;
  cursor: url("cur557.cur"), default;
}

.flex-container div {
  background-color: lightblue;
  width: 200px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 12px;
  font-family: 'Rubik Mono One', sans-serif;
  color: grey;
  cursor: url("cur557.cur"), default;
}

.flex-container:hover {
  background: yellow;
  font-size: 20px;
  color: black;
  cursor: url("cur557.cur"), default;
}

}
