html {
  animation-name: example;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}


@keyframes example {
  from {background-color: yellow;}
  to {background-color: white;}
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: grey;
}

.flex-container div {
  background-color: lightblue;
  width: 200px;
  margin: 20px;
  text-align: center;
  line-height: 75px;
  font-size: 12px;
  font-family: 'Rubik Mono One', sans-serif;
  color: grey;
}

.flex-container:hover {
  background: yellow;
  font-size: 20px;
  color: black;
}

.heading {
  display: flex;
  justify-content: center;
  color: white;
font-family: 'Antic Didone', serif;
  font-style: 22px;
  top: 50px;
}

.poem {
display: flex;
position: sticky;
justify-content: center;
align-content: center;
margin-left: 80px;
margin: 80px;
padding: 60px;
color: red;
font-family: 'Antic Didone', serif;
line-height: 1em;
letter-spacing: .1em;
text-align: center;
font-size: 15px;
text-shadow: 0 0 8px yellow;
opacity: 0%;
}

.poem:hover {
  opacity: 100%;
  transition: 10s;
  transition-timing-function: linear;
}

.title {
  width: 500px;
  height: 200px;
  font-size: 10px;
  color: red;
  position: fixed;
  font-family: 'Antic Didone', serif;
  text-align: center;
  border: 3px solid black;
  background-color: lightblue;
  letter-spacing: .1em;
  line-height: 1.7em;
  opacity: 50%;
  margin-left: 380px;
  filter: blur(2px);
}


.two {
  width: 200px;
  height: 100px;
  text-align: center;
  font-size: 20px;
  color: red;
  line-height: 1em;
  letter-spacing: .1em;
  padding: 70px;
  margin: 20px;
  font-family: 'Antic Didone', serif;

}
